<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Content/css/app.css" rel="stylesheet" />
    <link href="~/Content/css/foundation-flex.css" rel="stylesheet" />
    <link href="~/Content/css/foundation.css" rel="stylesheet" />
    <link href="~/Content/css/foundation.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/CSSCMS/MasterStyle.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>

<body>
    <div class="headerbackground">
        <div class="headermenubox">
            <div class="row CmsMenu">
                <div class="large-12 columns">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a href="#">Forside</a>
                            <ul class="menu">
                                <li><a href="ForsideRediger">Redigere</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Ro med Os</a>
                            <ul class="menu">
                                <li><a href="#">Redigere</a></li>
                                <li>
                                    <a href="#">Vinter Roning</a>
                                    <ul class="menu">
                                        <li><a href="#">Redigere</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Tider og Priser</a>
                            <ul class="menu">
                                <li><a href="#">Redigere</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Beginvenheder</a>
                            <ul class="menu">
                                <li><a href="#">Redigere</a></li>
                                <li>
                                    <a href="#">Info om Klub Aften</a>
                                    <ul class="menu">
                                        <li><a href="#">Redigere</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Nye Beginvenheder</a>
                                    <ul class="menu">
                                        <li><a href="#">Redigere</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Galleri</a>
                            <ul class="menu">
                                <li><a href="GalleriRedigere">Redigere</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Kalender</a>
                            <ul class="menu">
                                <li><a href="#">Opret</a></li>
                                <li><a href="#">Redigere</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Tilmelding</a>
                            <ul class="menu">
                                <li><a href="#">Redigere</a></li>
                                <li>
                                    <a href="#">Vedtægter</a>
                                    <ul class="menu">
                                        <li><a href="VedtægterRedigere">Redigere</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="">Logud</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer>
        <div class="row">
            <div class="large-12 column">
                <p>Copyright © Henrik Pedersen & Filip Storm Sørensen | All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <script src="~/Content/js/vendor/jquery.min.js"></script>
    <script src="~/Content/js/vendor/what-input.min.js"></script>
    <script src="~/Content/js/foundation.min.js"></script>
    <script src="~/Content/js/app.js"></script>
</body>
</html>
