body {
}
.headerbackground {
    text-align: center;
    background-color: darkgray;
  
}
.headermenubox {
    background-color: gray;
     border-top: black solid 2px;
      border-right: black solid 2px;
       border-left: black solid 2px;
         border-bottom: black solid 2px;
    
}
ul li a{
    color: black;
    font-size: 25px;
}

ul li a:hover{
    text-decoration: underline;
}
footer {
    background-color: darkgray;
    text-align: center;
    border-top: black solid 2px;
    margin-top: 688px;
}
.Inputbox {
    text-align: center;
}

