body {
}

.headermenubox {
    background-color: khaki;
    height: 37px;
    border-bottom: 1px solid lightgray;
}

.CmsMenu {
    padding-left: 8%;
}

ul li a{
    color: black;
    font-size: 15px;
}

ul li a:hover{
    text-decoration: underline;
}

footer {
    font-style: italic;
    text-align: center;
    font-size: 12px;
}

.LoginField {
    padding-top: 200px;
}

.KnapStyle {
    width: 100px;
    height: 40px;
}

.RedigereForsideInput {
    width: 25%;
}

.AdminMedlemViwe {
    float: left;
    width: 240px;
    margin-right: 25px;
    margin-left: 25px;
}

.GalleriBilledeCMS {
    padding: 5px;
    float: left;
    min-height: 160px;
}

.UploadBilledeCenterposition {
    margin-left: 20%;
    margin-top: 10%;
}






