
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/Content/css/app.css" rel="stylesheet" />
    <link href="~/Content/css/foundation-flex.css" rel="stylesheet" />
    <link href="~/Content/css/foundation.css" rel="stylesheet" />
    <link href="~/Content/css/foundation.min.css" rel="stylesheet" />
    <link href="~/Content/css/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <br/>
    <div class="row">
        <div class="large-2 columns">&nbsp;</div>
        <div class="large-2 columns">
            <img src="~/Content/Images/12665616_10205887218288235_1955835399_n.jpg" />
        </div>
        <div class="large-7 columns">
            <img src="~/Content/Images/12659624_10205887254249134_1829986529_n.jpg" />
        </div>
        <div class="large-1 columns">&nbsp;</div>
    </div>


    <div class="row">
        <div class="large-4 columns">&nbsp;</div>
        <div class="large-8 columns">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="#">Forside</a></li>
                <li>
                    <a href="#">Ro med Os</a>
                    <ul class="menu">
                        <li><a href="">Vinterning</a></li>
                    </ul>
                </li>

                <li><a href="#">Tider og Priser</a></li>
                <li><a href="#">Engagement</a></li>
                <li><a href="#">Kalender</a></li>
                <li><a href="#">Tildmælding</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        @*Slider*@
    </div>

    @RenderBody()

    <br/>
<div class="row">
    <div class="large-12 columns">
        <p>Copyright © Henrik Pedersen & Filp Storm Sørensen</p>
    </div>
</div>

<script src="~/Content/js/vendor/jquery.min.js"></script>
    <script src="~/Content/js/vendor/what-input.min.js"></script>
    <script src="~/Content/js/foundation.min.js"></script>
    <script src="~/Content/js/app.js"></script>

</body>
</html>
