
@{
    ViewBag.Title = "OpretBruger";
    Layout = "~/Areas/Admin/Views/Shared/MasterCms.cshtml";
}

<h2>Opret Bruger</h2>
<form action="/Admin/Admin/OpretBruger/" enctype="mutipart/form-data" method="POST">

    <input type="text" name="Name" />
    <input type="text" name="Password" />
    <br />
    <input type="submit" name="bruger" value="Opret" />
    @ViewBag.MSG


</form>

