
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLogin</title>

    <link href="~/Content/css/app.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/foundation-flex.css" rel="stylesheet" />
    <link href="~/Content/css/foundation.css" rel="stylesheet" />
    <link href="~/Content/css/foundation.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/CSSCMS/MasterStyle.css" rel="stylesheet" />

</head>
<body>

<div class="row LoginField">
    <div class="large-4 columns">&nbsp;</div>
    <div class="large-4 columns LoginField">
        <form name="Myform" action="/Admin/Admin/Login" enctype="multipart/form-data" method="POST">

            <input id="Text1" type="text" name="Name" placeholder="Brugernavn"/>
            <input id="Password1" type="password" name="Password" placeholder="Password"/>
            <input class="KnapStyle" id="Submit1" type="submit" value="Login" name="Bruger"/>
            @ViewBag.MSG

        </form>
    </div>
    <div class="large-4 columns">&nbsp;</div>
</div>

</body>
</html>
