
@{
    Layout = null;
}
<form action="/Admin/Admin/Login/" enctype="mutipart/form-data" method="POST">

    <input type="text" name="Name" />
    <input type="text" name="Password"/>
    <br/>
    <input type="submit" name="bruger" value="Log in" />
    @ViewBag.MSG


</form>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLogin</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
