body {
}

/*Master*/

.MasterBox {
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
}

ul li a{
    color: black;
    font-size: 15px;
}

ul li a:hover{
    text-decoration: underline;
}

.CopyrightText {
    font-size: 12px;
}

.SlidePanelFaceBook {
    float: right;
}

.LogIn {
    margin-left: 1530px;
    color: white;
}

.LogIn:hover {
    margin-left: 1530px;
    color: white;
}

.fb-follow {
    margin-top: 5px;
}

.ColorMenu {
    /*background-color: rgba(100, 98, 98, 0.5);*/
    margin-top: 5px;
}
/*Master Slut*/

/*----------------------------------------------------------------*/

/*Forside*/

.Billede {
    width: 250px;
    height: 200px;
}

table tr {
    border: 1px solid white;
}

table tr td {

    padding-right: 30px;
}

.MedlemViwe {
    float: left;
    width: 240px;
    margin-right: 25px;
    margin-left: 25px;
}

/*Forside Slut*/

/*----------------------------------------------------------------*/

/*Tider Og Priser*/

.Box1 {
    width: 100%;
    /*background-color: orangered;*/
}

table{
    width: 100%;
}

.EmailLink {
    color: blue;
}

/*Tider Og Priser Slut*/

/*----------------------------------------------------------------*/

/*Vinterroning*/

.VinterRoningOBS {
    color: Red;
    margin-left: 40%;
}

.FiveMins {
    color: red;
    font-weight: bold;
}

.fifteenMins {
    color: yellow;
    font-weight: bold;
}

.fourhours {
    color: green;
    font-weight: bold;
}

/*Vinterroning Slut*/

/*----------------------------------------------------------------*/

/*Galleri Start*/

.GalleriBilleder {
    padding: 5px;
    float: left;
    min-height: 160px;
}

/*Galleri Slut*/

/*----------------------------------------------------------------*/