@using RepoGKK.Models.BaseModels;
@model GkkRediger

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="large-12 columns">
        <div class="Slider-Box">
            <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="false">
                <ul class="orbit-container">
                    <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
                    <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
                    <li class="is-active orbit-slide">
                        <div>
                            <img src="~/Areas/Admin/Pic/@ViewBag.Slider_Billede1" />
                        </div>
                    </li>
                    <li class="orbit-slide">
                        <div>
                            <img src="~/Areas/Admin/Pic/@ViewBag.Slider_Billede2" />
                        </div>
                    </li>
                    <li class="orbit-slide">
                        <div>
                            <img src="~/Areas/Admin/Pic/@ViewBag.Slider_Billede3" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />

<div class="row">
    <div class="large-12 columns">
        <h3>@Html.Raw(Model.Overskrift)</h3>
    </div>
</div>
<div class="row">
    @Html.Raw(Model.Tekst)
    </div>



<hr /><br />

<div class="row">
    <div class="large-12 columns">
        <h3>Vi er bestyrelsen</h3>
        <br />
    </div>
</div>

<div class="row">
    @if (ViewBag.BestyrelsesMedlemmer != null)
    {
        foreach (GkkBestyrelsen medlem in (ViewBag.BestyrelsesMedlemmer as List<GkkBestyrelsen>))
        {
            <div class="MedlemViwe">
                <img src="~/Content/Images/@medlem.Billede">
                <br />
                <i>@medlem.Title</i>
                <p>@medlem.Navn</p>
    </div>
        }
    }
</div>



