@model RepoGKK.Models.BaseModels.GkkRediger
@{
    ViewBag.Title = "KlubAften";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="large-12 columns">
        <h2>Klub Aften</h2>
        @Html.Raw(Model.Tekst)
    </div>
</div>


