@model RepoGKK.Models.BaseModels.GkkRediger

@{
    ViewBag.Title = "RoMedOs";
    Layout = "~/Views/Shared/Master.cshtml";
}

<br />
<div class="row">
    <div class="large-12 columns text-center">
        <h3>Ro med Os</h3>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        @Html.Raw(Model.Tekst)
    </div>
</div>


