
@{
    ViewBag.Title = "TiderOgPriser";
    Layout = "~/Views/Shared/Master.cshtml";
}

<br />
<div class="row">
    <div class="large-12 columns text-center">
        <h3>Tider og Priser</h3>
        <hr/>
    </div>
</div>

<div class="row">
        <div class="Box1">
            <div class="large-12 columns">
                @Html.Raw(Model.Tekst)
            </div>
        </div>
    </div>

    


