
@{
    ViewBag.Title = "TiderOgPriser";
    Layout = "~/Views/Shared/Master.cshtml";
}

<br />

<div class="row">
    <div class="large-6 columns">
        <div class="Box1">
            <div class="large-12 columns">
                @Html.Raw(Model.Tekst)
            </div>
            <p>
                Klubaften
            </p>
            <p>
                Mødetidspunkter tirsdagaftener klubaften fra 18.00 til mørket falder på vi mødes senest kl 17.45 ved klubhuset.
            </p>
            <p>
                Husk at medbringe skiftetøj pga stor interesse har vi udvidet klubtilbudet sådan at hel nye medlemmer kan prøve kajakkerne onsdagaften.
                Ring/sms til 61 36 25 95 eller send en mail til <a href="mailto:michael_snedker@hotmail.com">michael_snedker@hotmail.com</a> så kommer du ikke forgæves.
            </p>
            <p>
                OBS JULI har vi ikke klubaftner pga. ferie
            </p>

        </div>
    </div>

    <div class="large-6 columns">
        <div class="Box1">
            <p>
                Priserne:
            </p>

            <table>
                <tr>
                    <td>KONTINGENT</td>
                    <td>500 kr</td>
                </tr>
                <tr>
                    <td>SVØMMEHAL</td>
                    <td>400 kr</td>
                </tr>
                <tr>
                    <td>PRØVETUR</td>
                    <td>50 kr</td>
                </tr>
                <tr>
                    <td>NØGLE DEPOSITUM</td>
                    <td>100 kr</td>
                </tr>
            </table>

            <p>
                Betalte penge for prøveturene bliver modregnet kontingentet når du bliver medlem.
            </p>
            <p>
                Det første år er svømmehallen obligatorisk fordi her lærer vi redningsteknikerne
                svømmehalstid
                fredagaften fra 19:30 til senest 22:00
            </p>

        </div>
    </div>
</div>

<br />
<hr />
<br />

<div class="row">
    <div class="large-6 columns">

    </div>

    <div class="large-6 columns">

    </div>
</div>


