
@{
    ViewBag.Title = "Tilmelding";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="row">
    <div class="large-6 columns">
        <p>
            Kan du lide at Sejle Kajak?
        </p>
        <p>
            Så er Grenaa Kajakklub måske noget for dig.
        </p>
        <p>
            Send en Mail til vores Bestyrelse på linket eller ring på 61 36 25 95
        </p>
        <div>
            <a href="mailto:michael_snedker@hotmail.com?subject=TILMELDINGSFORMULAR%20TIL%20GRENAA%20KAJAKKLUB.&body=
Jeg (fulde navn Fødselsdato)
%0A%0A
Melder mig hermed ind i Grenaa Kajakklub.
%0A
Jeg forpligter mig at efterleve de regler og bestemmelser sat af bestyrelsen og beskrevet i ved vægterne eller på anden måde offentlig gjort.
%0A
Jeg har mig bekendt ikke nogen sygdom hvilket vil gør det usikkert for mig at færdes på vandet i kajak.
%0A%0A
(f.eks epilepsi)
%0A%0A
Underskrift / dato">michael_snedker@hotmail.com</a>
        </div> @*Tilmeldingsformular til Grenaa Kajakklub*@
    </div>

    <div class="large-6 columns">&nbsp;</div>
    </div>


