@model RepoGKK.Models.BaseModels.GkkRediger

@{
    ViewBag.Title = "Vedtægter";
    Layout = "~/Views/Shared/Master.cshtml";
}

<br />
<div class="row">
    <div class="large-12 columns text-center">
        <h3><b>@Html.Raw(Model.Overskrift)</b></h3>
        <hr />
    </div>
</div>
<br />
<div class="row">
    <div class="large-12 columns">
        @Html.Raw(Model.Tekst)
    </div>
</div>

