
@{
    ViewBag.Title = "Vedtægter";
    Layout = "~/Views/Shared/Master.cshtml";
}

<br/>
<div class="row">
    <div class="large-12 columns text-center">
        <h3><b>Klubbens Vedtægter</b></h3>
        <hr/>
    </div>
</div>
<br/>
<div class="row">
<div class="large-6 columns">
    <div>
        <p>
            <b>§ 1: Klubbens navn og hjemsted</b>
        </p>
        <p>
            <i>Klubbens navn: Grenaa kajakklub.</i>
        </p>
        <p>
            <i>Hjemsted: Norddjurs kommune.</i>
        </p>
        <p>
            <i>Klubbens mærke er en kajakroer på mellemgrøn baggrund.</i>
        </p>
    </div>

    <hr/>

    <div>
        <p>
            <b>§ 2: Klubbens formål</b>
        </p>
        <p>
            <i>
                Klubbens formål er at fremme interessen for kajakroning og drive denne under betryggende
                sikkerhedsforhold, samt at være samlingssted for denne idrætsgrens udøvere.
            </i>
        </p>
    </div>

    <hr/>

    <div>
        <p>
            <b>§ 3: Aktive medlemmer</b>
        </p>
        <p>
            <b>Stk. 1</b> <i>
                Som aktivt medlem af klubben kan optages enhver, der er fyldt 16 år. Dog kan medlemmernes
                børn optages uden aldersbegrænsning. Disse kan deltage i klubbens aktiviteter ifølge med
                frigivne forældre eller værger og under disses ansvar.
            </i>
        </p>
        <p>
            <b>Stk. 2</b> <i>
                Vedkommende skal udfylde klubbens ansøgningsskema og aflevere dette til et
                bestyrelsesmedlem. På skemaet bekræfter ansøgeren, at vedkommende er gjort bekendt med
                klubbens love.
            </i>
        </p>
        <p>
            <i>
                Endvidere er man indforstået med klubbens sikkerhedsbestemmelser, og at
                enhver skade udover almindeligt slid og ælde påført klubbåde og andet materiel under
                medlemmets benyttelse er forsikringsmæssig ansvarsskade.
            </i>
        </p>
        <p>
            <b>Stk. 3</b> <i>
                Frigivelse kan først finde sted, nar man overfor bestyrelsen har godtgjort, at man kan
                opfylde de i klubbens sikkerhedsbestemmelser stillede krav. Medlemmer under 18 år skal have
                skriftligt samtykke fra forældre eller værge.
            </i>
        </p>
    </div>


    <hr/>

    <div>
        <p>
            <b>§ 4: Kontingent</b>
        </p>
        <p>
            <b>Stk. 1</b> <i>
                Kontingentet for den forestående sæson fastsættes på eneralforsamlingen.
                Kontingentet dækker perioden 1.1 - 31.12, og det indbetales 1 gang årligt senest 2 måneder
                efter generalforsamling.
            </i>
        </p>
        <p>
            <b>Stk. 2</b> <i>
                Er kontingentet ikke betalt senest 6 måneder fra fastsættelsesdato, betragtes medlemmet som
                udmeldt af klubben, med mindre bestyrelsen bestemmer noget andet. Genindmeldelse kan kun ske
                ved indfrielsen af kontingentrestancen plus et genindmeldelsesgebyr på 100 kr.
            </i>
        </p>
        <p>
            <b>Stk. 3 </b> <i>
                Medlemmer som benytter svømmehalstilbud vil blive opkrævet en gang årligt et yderligere
                gebyr, hvilket bliver fastsat af Norddjurs kommune.
            </i>
        </p>
    </div>

    <hr/>

    <div>
        <p>
            <b>
                § 5: Bådplads
            </b>
        </p>
        <p>
            <i>
                Medlemmer, der ikke er i kontingentrestance, har ret til at opbevare 1 båd i klubhuset, for
                så vidt der er ledig plads. Båden og tilbehør forsynes tydeligt med navn og båden optages i
                klubbens bådfortegnelse.
            </i>
        </p>
    </div>

    <hr/>

    <div>
        <p>
            <b>§ 6: Udmeldelse</b>
        </p>
        <p>
            <b>Stk. 1 </b><i>
                Udmeldelse skal ske skriftligt til klubbens kasser, og kan tidligst ske fra førstkommende
                kontingentforfald.
            </i>
        </p>
        <p>
            <b>Stk. 2 </b><i>
                Såfremt et medlem gentagne gange på trods af bestyrelsens tilrettevisninger groft

                tilsidesætter klubbens love, sikkerhedsbestemmelser og/eller klubbens husorden, eller at

                hensynet til klubbens anseelse eller formål gør det nødvendigt, rettes der henvendelse til

                pågældende medlem med anmodning om, at pågældende udmelder sig.
            </i>
        </p>
        <p>
            <i>
                Medlemmet skal i den

                forbindelse sikres mulighed for at forklare sig overfor bestyrelsen. Såfremt medlemmet ikke

                udmelder sig og skønner bestyrelsen, at der er grundlag, indstiller bestyrelsen til

                eksklusion af medlemmet på førstkommende generalforsamling. Medlemmet skal have mulighed for

                at deltage i generalforsamlingen, hvor medlemmet kan tale sin sag.
            </i>
        </p>
    </div>

    <hr/>

    <div>
        <p>
            <b>§ 7: Revisorer</b>
        </p>
        <p>
            <i>Revisoren vælges på den ordinære generalforsamling og vælges for 1 år ad gangen.</i>
        </p>
    </div>

</div>
    <div class="large-6 columns">
        <div>
            <p>
                <b>§ 8: Generalforsamling</b>
            </p>
            <p>
                <b>Stk. 1 </b><i>Generalforsamlingen er klubbens højeste myndighed.</i>
            </p>
            <p>
                <b>Stk. 2 </b><i>
                    Generalforsamlingen afholdes hvert år i januar kvartalet, der indkaldes via klubbens
                    hjemmeside. Indkaldelsen skal udsendes senest 3 uger før generalforsamlingen.
                </i>
            </p>
            <p>
                <b>Stk. 3 </b><i>
                    Dagsordenen skal som minimum indeholde følgende:
                    <br />
                    1. Valg af dirigent
                    <br />
                    2. Valg af referent
                    <br />
                    3. Formandens beretning
                    <br />
                    4. Kasseren fremlægger det reviderede regnskab
                    <br />
                    5. Fastsættelse af kontingent
                    <br />
                    6. Valg af samtlige bestyrelsesmedlemmer der er på valg
                    <br />
                    7. Valg af revisor og revisorsuppleant
                    <br />
                    8. Indkomne forslag
                    <br />
                    9. Eventuelt.
                </i>
            </p>
            <p>
                <b>Stk. 4 </b><i>Fremmødte medlemmer repræsenteres med 1 stemme pr. medlem. Der kan ikke stemmes per fuldmagt.</i>
            </p>
            <p>
                <b>Stk. 5</b><i>
                    Generalforsamlingen er beslutningsdygtig uanset, hvor mange medlemmer, der er til stede. Til
                    vedtagelse af vedtægtsændringer kræves mindst 2/3 af de tilstedeværendes stemmer. Til
                    vedtagelse af andre forslag kræves kun simpelt flertal. Står stemmerne lige, er formandens
                    stemme afgørende. Afgivelsen af stemmer sker ved håndsoprækning, dog skriftligt hvis bare 1
                    medlem ønsker det.
                </i>
            </p>
            <p>
                <b>Stk. 6</b><i>
                    Forslag der ønskes behandlet på generalforsamlingen fremsendes skriftligt til formanden, og
                    skal være formanden i hænde senest l0 dage før generalforsamlingens afholdelse. Indkommende
                    forslag offentliggøres på klubbens hjemmeside.
                </i>
            </p>
            <p>
                <b>Stk. 7</b><i>
                    Der kan indkaldes til ekstraordinær generalforsamling med angivelse af dagsorden, med mindst
                    8 dages varsel, når bestyrelsen finder anledning dertil, eller ved skriftlig begæring fra
                    mindst 10 medlemmer. Afstemningsprocedurer er som ved almindelig generalforsamling.
                </i>
            </p>
        </div>

        <hr />

        <div>
            <p>
                <b>§ 9: Bestyrelsen </b>
            </p>
            <p>
                <b>Stk: 1 </b><i>
                    Bestyrelsen har følgende sammensætning: Formand, kasser, samt 3 medlemmer.
                    Generalforsamlingen vælger formand og kasser samt 3 bestyrelsesmedlemmer.
                </i>
            </p>
            <p>
                <b>Stk: 2 </b><i>
                    Formanden vælges på ulige år, kassereren på lige år, disse tegner klubben udadtil. For

                    øvrige bestyrelsesmedlemmer er valgperioden 1år, Bestyrelsen konstituerer sig selv efter

                    valget.
                </i>
            </p>
            <p>
                <b>Stk: 3 </b><i>
                    Bestyrelsen fastsætter selv sin forretningsorden, og den skal føre protokol over
                    generalforsamlingen og bestyrelsesmøder.
                </i>
            </p>
        </div>

        <hr />

        <div>
            <p>
                <b>§ 10: Regnskabet</b>
            </p>
            <p>
                <b>Stk. 1 </b><i>Regnskabsåret går fra 1.1 - 31.12.</i>
            </p>
            <p>
                <b>Stk. 2 </b><i>Bestyrelsen kan forlange at blive løbende orienteret om regnskabet.</i>
            </p>
            <p>
                <b>Stk. 3 </b><i>Regnskabet forelægges på den ordinære generalforsamling forsynet med revisorernes påtegning.</i>
            </p>
        </div>

        <hr />

        <div>
            <p>
                <b>§ 11: Opløsning af klubben</b>
            </p>
            <p>
                <b>Stk. 1 </b><i>
                    Bestemmelser om opløsning af klubben kan kun finde sted på en generalforsamling, hvor mindst

                    2/3 af de stemmeberettigede medlemmer er til stede. Til vedtagelse kræves 2/3 af de afgivne

                    stemmer.
                </i>
            </p>
            <p>
                <b>Stk. 2</b><i>
                    Er der ikke et tilstrækkeligt antal medlemmer tilstede, indkaldes der til en ny

                    generalforsamling med mindst 8 dages varsel. Bestemmelsen kan da tages uanset de fremmødtes

                    antal.
                </i>
            </p>
            <p>
                <b>Stk. 3</b><i>
                    Ved opløsning realiseres klubbens værdier, og foreningens formue skal anvendes i

                    overensstemmelse med de i § 2 fastsatte formål eller til andre almennyttige formål.

                    Beslutningen om den konkrete anvendelse af formuen træffes af den opløsende

                    generalforsamling.
                </i>
            </p>
        </div>

    </div>
</div>

