@model RepoGKK.Models.BaseModels.GkkRediger
@{
    ViewBag.Title = "VinterRoning";
    Layout = "~/Views/Shared/Master.cshtml";
}

<br />
<div class="row">
    <div class="large-12 columns text-center">
        <h3>Vinter Roning</h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        
        <div class="large-12 columns">
            @Html.Raw(Model.Tekst)
        </div>

        <p>
            <b>Tips og tricks til dem som vil ro hele året</b>
        </p>
        <p>
            Man behøver ikke at holde med at ro kajak bare fordi kalenderen viser oktober.
            man skal bare tænke sig lidt om.
        </p>
        <p>
            Når vandet bliver sk.... koldt skal man klæde sig fornuftig på.
            dvs. tørdragt når man skal ud alene eller ud i bøljer.
            du skal have prøvet dine selvredning / makkerredning / rul med dragten på.
        </p>
        <p>
            Hvis man ikke har sådan en skal man ikke ud i situationer hvor der er en mulighed man
            opholder sig i vandet længere end 5 min.
            ha' styr på dine støttetag / redninger / rul.
        </p>
        <p>
            Prøv dem i koldt vand i trykke omgivelser
            ro kystnær eller med en makker så i kan hjælpe hinanden.
            Husk skiftetøj og noget varmt at drikke med.
        </p>
    </div>
    <div class="large-6 columns">
        <p>&nbsp;</p>
        <p>
            <b class="VinterRoningOBS">!! OBS !!</b>
        </p>
        <p>
            Når vandet er 5 grader KAN man ikke redde sig selv
        </p>
        <p>
            I almindelig tøj efter <span class="FiveMins">5 minuter</span>
        </p>
        <p>
            I våddragt og neopren handsker <span class="fifteenMins">15 minuter</span>
        </p>
        <p>
            I tørdragt og neopren handsker <span class="fourhours">4 timer</span>
        </p>
        <p>
            Nedkøling starter på hånder og fødder så uden bekyttelse tager det kun få minuter før du ikke kan holde dig fast eller kan gribe om noget.
            70 % af kropsvarmen ståler ud ignnem hovedet så uden hue bliver du hurtig nedkølet.
        </p>
    </div>
</div>